.container {
    border: 1px solid black;
    padding: 10px 0px 10px 30px;
    margin: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(255, 255, 255, 0);
    color: rgb(137, 10, 10);
    border: none;
    border-radius: 5px;
    padding: 2px;
    margin: 10px 20px 1px 0px;
    transition: 0.5s;
}
.btn:hover{
    color: red;
}