
body{
    margin: 0;
    font-family: sans-serif;
    /* padding: 0; */
}

.header{
    background-color: royalblue;
    height: 50px;
    font-size: 2em;
    color: white;
    padding: 20px;
}

.todoform{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.todoinput{
    width: 100%;
    border: none;
    border-bottom: 1px solid whitesmoke;
    font-size: 1.5em;
    text-align: left;
    height: 50px;
}
.todobutton{
    width: 100%;
    border: none;
    height: 50px;
    background-color: tomato;
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.todoitem{
    margin: auto;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px rgb(141, 141, 141);
}
.todoname{
    
}
.deletebutton{
    border: none;
    height: 50px;
    background-color: tomato;
    color: white;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}